body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Helvetica Neue', Arial, sans-serif;
    margin:0;
    background: #F8BEBE;
  }
  /*Estilos para el header y los elementos que contiente */

  header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      padding: 0.8rem 0;
      z-index: 10000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.5s;
      background:#fff;
  }
  header.sticky{
      background: #ffffff;
      padding: 0.1rem 0.8rem ;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  }

  header nav li{
    display: inline;
  }
  header nav li a:hover{
      font-size: 2em;
      padding-left: 10px;
      transition: 0.3s;
      color: #5ff7c2;
  }
  header nav li a:focus{
    font-size: 2em;
    font-weight: 700 ;
    color: #FF014D;
}
  header #header-img{
    margin-left: 1.5rem;
    height: 5rem;
    padding: 0.5rem;
  }
  nav{
    list-style: none;
    display:flex;
    padding:0 1rem;
  }
  a{
    color:#ff0157;
    text-decoration:none;
    margin:2rem;
    font-size:1.8em;
    font-weight:500;
  }
  /*Estilos del section*/
     #productos{
    padding: 8rem 2rem;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    }
    h2{
      font-size:3em;
    }
    h3{
      font-size: 1.8rem;
      color: #B41B49;
    }
     h4{
    font-size: 1.5rem;
    }
    /*Estilos para el grid*/
    #grid{
     display: grid;
    }
     #grid div{
        height:100vh;
        grid-template-columns: repeat(2, 50%);
    }
    /*estilos para efecto de paralla al hacer scroll en la página*/
   .cubiertasPar{
      background-image:url(img/2.png);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
   }
   .imagen img{
    width: 25vw;
   }
    .cubiertasPar , .cubiertasImpar{
      width: 80%;
      margin: auto;
      display: grid;
      padding: 1.5rem;
    }
    

    .cubiertasPar .dobleGrid{
      grid-column: 1/2;
      grid-row: 1;
     
    }

    .cubiertasPar .imagen{
      grid-column: 2/2;
      grid-row: 1;
      
    }
    .cubiertasImpar .dobleGrid{
    grid-column: 2/2;
    grid-row: 1;
   padding: 1.5rem;
    }

    .cubiertasImpar .imagen{
    grid-column: 1/2;
    grid-row: 1;
    margin: 10px;
    }
    li{
      margin: 0.8rem;
      font-size: 1.2rem;
      font-weight: 500;
    }
     p {
      margin: 1.5rem;
      font-size: 1.3rem;
      font-weight: 400;
    }
@media (max-width: 1200px){

}
  /*a partir de los 766px hacia abajo cambian estos estilos de la pagina*/
@media (max-width: 766px){
  header nav li a:hover{
    font-size: 1.6em;
  }
  a{
  margin:0.5rem;
  font-size:1.3em;
  }
  #productos{
    margin:0;
  }
  h2{
    margin: 3rem  0 0 0;
  }
#grid div{  
  grid-template-columns: repeat(1, 90%);
  grid-template-rows: 30% 70%;

  
}
.cubiertasPar , .cubiertasImpar{
  grid-template-columns: repeat(1, 100%);

}
.cubiertasPar .dobleGrid{
  grid-column: 1/2;
  grid-row: 2/2;
width: 100%;
}
.cubiertasPar .imagen{
  grid-column: 1/2;
  grid-row: 1/2;
 
}
.cubiertasImpar .dobleGrid{
grid-column: 1/2;
grid-row: 2/2;
width: 100%;

}
.cubiertasImpar .imagen{
grid-column: 1/2;
grid-row: 1/2;

}

p , li {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.2rem;
}

}
    @media (max-width: 500px){

      #productos{
        margin-left: 10%;
        width: 90%;
      }

      #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 10%;
        height:100%;
        padding: 10px 0;
        transition: 0.5s;
       
      }
    #nav{
      margin: 0;
      padding: 0;
      display: block !important;
     
    }
      #header #nav li a:hover{
      font-size: 1em;
    }
    #header a{
    margin:5px;
    font-size:0.5em;
    }
      #header-img{
    height:50px;
        margin: 0 10px;
  }
  
    #grid div{
    height:250px;
  
   }
        #productos{
    height:1200px;
      }
     #recetas .galletas{
       width:200px; 
      }
      #grid div{
      height:200px;
    
      }#grid p{
    font-size:0.8em;
    font-weight:400;
  }
}